{erl_opts, [
    debug_info,
    warn_export_all,
    warn_missing_spec
]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {alley_dto, ".*", {git, "git://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}}
]}.
{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
